@import url("https://fonts.googleapis.com/css2?family=Snippet&display=swap");

.brandname {
  font-family: "Snippet", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.hub-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: rgb(189, 189, 189);
}

.hub-all-main {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  position: relative;
  margin-top: 11rem;
  animation: PageFadeIn 1s forwards;
}

@keyframes PageFadeIn {
  to {
    opacity: 1;
  }
}

.hub-all-hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 2rem;
}

.hub-all-title {
  margin: 0;
  font-size: 90px;
  font-weight: 350;
}

.hub-all-intro {
  max-width: 800px;
}

.all-events-wrapper {
  height: 57rem;
  width: 1200px;
  border-radius: 15px;
  background-color: rgba(161, 161, 161, 0.11);
  backdrop-filter: blur(10px);
  padding-block: 3rem;
  box-shadow: 0 0 40px black;
  margin-bottom: 3rem;
  align-items: center;
  border: 1px solid #ffffff22;
  overflow: scroll;
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

.event-search-bar-filter-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.event-search-bar-filter-button {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  cursor: pointer;
  z-index: 2;
}

.event-search-bar-filter-button:hover {
  color: #9021ff;
  text-shadow: 0 0 10px #9021ff;
}

.event-search-bar-filter-button:hover > svg {
  color: #9021ff !important;
  text-shadow: 0 0 10px #9021ff !important;
}

.active {
  color: #9021ff !important;
  text-shadow: 0 0 10px #9021ff !important;
  display: flex !important;
  flex-direction: row !important;
  gap: 0.5rem !important;
  cursor: pointer !important;
  z-index: 2 !important;
}

.filter-wrapper {
  background-color: rgba(15, 0, 28, 0.822);
  min-height: fit-content;
  box-shadow: 0 0 10px #000000;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  transform: translate(-500px, 50px) scale(0);
  color: rgb(189, 189, 189);
  z-index: 3;
  border-radius: 5px;
  border: 1px solid #ffffff22;
  padding-inline: 1rem;
  padding-bottom: 1rem;
  justify-content: center;
  align-items: center;
  animation: filterPopUp 0.15s ease-in forwards;
}

@keyframes filterPopUp {
  to {
    transform: translate(-508px, 50px) scale(1);
  }
}

.filter-categories {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  min-width: 150px;
}

.category-filter {
  all: unset;
  border-bottom: 1px solid rgb(189, 189, 189);
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
  min-width: 140px;
  width: 80%;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.category-filter::placeholder {
  color: rgb(189, 189, 189);
}

.filter-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.submit-filter,
.reset-filter {
  border: solid 1px #8103ff;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  backdrop-filter: blur(3px);
  transition: all 0.3s ease;
  text-decoration: none;
}

.submit-filter:hover {
  background-color: rgb(0, 194, 0);
  transform: scale(0.95);
  box-shadow: 0 0 10px 0 rgb(0, 194, 0);
  border: solid 1px rgb(0, 194, 0);
  color: black;
}

.reset-filter:hover {
  background-color: #ff0303;
  transform: scale(0.95);
  box-shadow: 0 0 10px 0 #ff0303;
  border: solid 1px #ff0303;
  color: black;
}

.city-filter-wrapper,
.theme-filter-wrapper,
.attendees-filter-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: fit-content;
}

.filter-options {
  max-height: 150px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  gap: 0.5rem;
  overflow-x: hidden;
}

/* Webkit scrollbar styles */
.filter-options::-webkit-scrollbar {
  width: 6px; /* Width of the vertical scrollbar */
}

.filter-options::-webkit-scrollbar-track {
  background: transparent; /* Track color */
}

.filter-options::-webkit-scrollbar-thumb {
  background: #8103ff; /* Scrollbar thumb color */
  border-radius: 3px; /* Optional: Rounded corners */
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 110px;
  margin-right: 1rem;
}

.checkbox-label div {
  transition: all 0.1s ease-in-out;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 14px;
  height: 14px;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 4px;
  outline: none;
  flex-shrink: 0;
  flex-grow: 0;
}

input[type="checkbox"]:checked {
  background-color: #9021ff;
  border: 1px solid white;
  box-shadow: 0 0 5px #9021ff;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 14px;
  height: 14px;
  border: 2px solid rgb(189, 189, 189);
  border-radius: 8px;
  outline: none;
}

input[type="radio"]:checked {
  background-color: #9021ff;
  border: 3px solid white;
  box-shadow: 0 0 5px #9021ff;
}

.checkbox-label:hover > div {
  transform: scale(1.05);
  color: #9021ff;
  text-shadow: 0 0 10px #9021ff;
}

.all-events-list {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  align-items: left;
  padding-left: 5rem;
}

.row {
  display: flex;
  justify-content: left;
  gap: 5rem;
}

.card {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    45deg,
    rgba(81, 90, 107, 0.226) 10%,
    rgba(95, 72, 116, 0.178) 80%
  );
  border: 1px solid #ffffff22;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  min-height: 360px;
  box-shadow: 0 0 10px #8103ff9d;
  align-items: center;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05) translateY(-20px);
}

.card-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.card-event-img {
  height: 175px;
  width: 175px;
  border-radius: 5px;
  border: 1px solid #ffffff22;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-event-name {
  max-width: 150px;
  color: white;
  font-size: 1.5rem;
  overflow-wrap: break-word;
}

.card-event-city {
  border-bottom: 1px solid rgb(189, 189, 189);
  padding-bottom: 1rem;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.card-event-theme {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: small;
  max-width: 80%;
}

.theme {
  font-style: italic;
}
