@import url("https://fonts.googleapis.com/css2?family=Snippet&display=swap");

.brandname {
  font-family: "Snippet", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.hub-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: rgb(189, 189, 189);
}

.hub-contact-main {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  position: relative;
  margin-top: 11rem;
  animation: PageFadeIn 1s forwards;
}

@keyframes PageFadeIn {
  to {
    opacity: 1;
  }
}
